@model MvcMovie.Models.DirectorViewModel

<input type="hidden" asp-for="Director_ID" />

<div class="form-group row">
    <label asp-for="Name" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Name" class="form-control" readonly />
    </div>
</div>
