@model MvcMovie.Models.DirectorViewModel

@{ ViewBag.Title = "Réalisateur / Consulter"; }

<form class="form-horizontal">

    <fieldset>

        <legend>@ViewBag.Title</legend>

        @await Html.PartialAsync("_Display.cshtml", Model)

        @await Html.PartialAsync("_LinktoEdit", Model.Director_ID)

    </fieldset>
</form>
