@model MvcMovie.Models.DirectorViewModel

@{ ViewBag.Title = "Réalisateur / Modifier"; }

@await Html.PartialAsync("_Alert", Model)

<form method="post" class="form-horizontal">

    <fieldset>

        <legend>@ViewBag.Title</legend>

        @await Html.PartialAsync("_Editor.cshtml", Model)

        @await Html.PartialAsync("_SubmitForm", "Modifier")

    </fieldset>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
