@model MvcMovie.Models.MovieEditorViewModel

<input type="hidden" asp-for="Movie_ID" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group row">
    <label asp-for="Title" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Title" class="form-control" autofocus />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <label asp-for="ReleaseDate" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="ReleaseDate" min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Genre_ID" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="Genre_ID" asp-items="Model.Genres" class="form-control"></select>
        <span asp-validation-for="Genre_ID" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Price" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Rating" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <div class="form-control-plaintext">
            @foreach (RatingEnum rating in Enum.GetValues(typeof(RatingEnum)))
            {
<div class="form-check form-check-inline">
    <input asp-for="Rating" type="radio" value="@rating" id="Rating@(rating)" class="form-check-input" />
    <label for="Rating@(rating)" class="form-check-label">@rating.GetDisplayName()</label>
</div>}
        </div>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
</div>
