@model MvcMovie.Models.MovieDisplayViewModel

@{ ViewBag.Title = "Film / Consulter"; }

<form class="form-horizontal">

    <fieldset>

        <legend>@ViewBag.Title</legend>

        @await Html.PartialAsync("_Display.cshtml", Model)

        @await Html.PartialAsync("_LinktoEdit", Model.Movie_ID)

    </fieldset>
</form>
