@model MvcMovie.Models.GenreViewModel

<input type="hidden" asp-for="Genre_ID" />

<div class="form-group row">
    <label asp-for="Title" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Title" class="form-control" readonly />
    </div>
</div>
