@model MvcMovie.Models.GenreViewModel

<input type="hidden" asp-for="Genre_ID" />

<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" readonly />
</div>
