@model MvcMovie.Models.GenreViewModel

@{ ViewBag.Title = "Genre / Supprimer"; }

@await Html.PartialAsync("_Alert", Model)

<form method="post" class="form-horizontal">

    <fieldset>

        <legend>@ViewBag.Title</legend>

        @await Html.PartialAsync("_Display.cshtml", Model)

        @await Html.PartialAsync("_SubmitForm", "Supprimer")

    </fieldset>
</form>
