@model MvcMovie.Models.GenreViewModel

@{ ViewBag.Title = "Genre / Consulter"; }

<form class="form-horizontal">

    <fieldset>

        <legend>@ViewBag.Title</legend>

        @await Html.PartialAsync("_Display.cshtml", Model)

        @await Html.PartialAsync("_LinktoEdit", Model.Genre_ID)

    </fieldset>
</form>

@await Html.PartialAsync("~/Views/Movies/_MovieList.cshtml", Model.Movies)
